---
layout: page
title: Topic index
description: ""
---
{% include JB/setup %}

<table class="table table-hover table-bordered table-condensed cl-index">
  <tr>
    <th>Topic or command</th>
    <th>Episode references</th>
  </tr>
  {% for t in site.data.topics %}
  <tr>
    <td>
      {{ t.term | markdownify }}
    </td>
    <td>
      {% for r in t.refs %}
      {% assign rs = r | split:"#" %}
      <div class="btn-group btn-small">
        <div class="btn btn-success btn-small disabled" title="Episode {{rs[0]}}, {{rs[2]}}">{{rs[0]}}</div>
        <a class="btn btn-small" title="Jump to Episode {{rs[0]}} video"
           href="../{{rs[1]}}/#{{rs[2]}}"><i class="icon-film"></i></a>
        <a class="btn btn-small" title="Jump to Episode {{rs[0]}} transcript"
           href="../{{rs[1]}}/{{rs[1]}}.html#{{rs[2]}}"><i class="icon-file"></i></a>
      </div>
      {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>
